@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,300;1,100;1,200;1,600&family=Playfair+Display:ital,wght@0,500;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&family=Playfair+Display:ital,wght@0,500;1,500;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
      background: #f0f0a5;
      color: white;
  }
  #header{
      width:100%;
      height: 100vh;
      background-image: url(images/ill\ final.png);
      background-size: 50%;
      border-radius: 50px 50px 50px 50px;
      background-position:90%;
      background-repeat: no-repeat;
      position: relative;
  }
  .background-image{
    padding-top: 50px;
  }
  .container{
      padding:10px 10%;
  }
  
  nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
  }
  .logo{
      width: 100px;
  }
  .circle{
      width: 500px;
      height: 500px;
      position: absolute;
      margin-bottom: 30px;
      top: 300px;
      right: 50px;
      
  }
  nav ul li{
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
  
  }
  nav ul li a{
     color: #1b2051;
     text-decoration: none;
     font-size: 18px; 
     position:relative;
     font-family: 'Open Sans', sans-serif;
  }
  
  nav ul li a::after{
      content:'';
      width: 0;
      height: 8px;
      border-radius: 50%;
      background: #299892;
      position: absolute;
      left:0;
      bottom: -6px;
      transition: 0.5s;
  }
  nav ul li a:hover::after{
  width: 100%;
  } 
  .header-text{
     margin-top: 20%; 
     font-size: 30px;
     font-weight: bold;
     color:#83bfa3;
     border-radius: 40;
  }
  .header-text h1{
      font-size: 80px;
      color:#562b1a;
      font-weight: bold;
  }
  /*------------about---------*/
  #about{
      padding: 80px 0;
      color:#fff;
      background-image: url(images/ni\ 2.jpg);
      background-size: 90%;
      border-top-right-radius: 10%;
      border-bottom-right-radius: 10%;
      background-repeat: no-repeat;
      position: relative;
  }
  .row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .about-col-1{
      flex-basis: 35%;
  }
  .about-col-1 img{
      width: 100%;
      border-radius: 15px;
  }
  .about-col-2{
      flex-basis: 90%;
      padding-left: 40%;
      
  }
  .sub-title{
      font-size: 45px;
      font-weight: 600;
      color: #50b9b5;
      margin-bottom: 20px;
      border-bottom-right-radius: 50px 50px;
      background-color:#1b2051;
      padding: 10px;
      width: 400px;
  }
  .intro{
      font-size: 20px;
      /*background-color: #562b1a;*/
      background-color: #33a29e;
      border-radius: 2%;
      padding: 10px;
      width: 650px;
  }
  .tab-titles{
      display: flex;
      margin: 20px 0 40px;
      font-size: 40px;
      font-weight:bolder;
  }
  .tab-links{
      margin-right: 50px;
      font-size: 25px;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      color:#f6f6f6;
      /*text-decoration: underline;*/
  } 
  .tab-links::after{
      content:'';
      width:0;
      height:8px;
      border-radius: 50%;
      background: #1b2051;
      position: absolute;
      left: 0;
      bottom: -8px;
      transition: 0.9s;
  }
  .tab-links.active-link::after{
      width:50%;
  }
  .tab-contents ul li{
      list-style: none;
      margin: 10px 0;
      margin-bottom: 20px;
      border-bottom-left-radius: 30px 30px;
      border-top-right-radius: 30px 30px;
      background-color: #f0f0a5;
      opacity: 70%;
      padding: 10px;
      width: 300px;
      list-style-type: '🔆';
      list-style-position: inside;

  }
  .tab-contents ul li span{
     color: rgb(0, 0, 0);
     font-size: 20px;
     font-weight:bold;
  }
  .tab-contents{
      display:none;
      color: #000000;
  }
  .tab-contents.active-tab{
      display: block;
  }
  /*---------services-----*/
  .services-list{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
      grid-gap: 80px;
      margin-top:50px;
      background-image: url(images/sqaures\ 4.png);
      background-size: 40%;
      border-radius: 50px 50px 50px 50px;
      background-position: 500%;
      background-repeat: repeat;
      opacity: 0.8;
  }
  .services-list div{
      background:#562b1a;
      border-radius: 10%;
      padding: 40px;
      font-size: 15px;
      font-weight: 300;
      border-right: 10px;
      transition: background 0.5s, transfrom 0.5s;
  }

  .services-list div i{
     font-size: 50px;
     margin-bottom: 30px;    
  }
  .services-list div h2{
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 15px;   
   }
   .services-list div a{
      text-decoration:none;
      color: #fff;
      font-size: 12px;
      margin-top: 20px;
      display: inline-block;  
   }
   .services-list div:hover{
       background: #55b2a3;
       transform: translateY(-10px);
   }
   #portfolio{
       padding: 200px 0;
   }
   .work-list{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top:50px;
   background-image: url(images/angles.png);
   background-size: 30%;
   border-radius: 50px 50px 50px 50px;
   background-position: 50%;
   background-repeat: repeat;
   opacity: 0.9;
   }
   .work{
      border-radius: 10px;
      position: relative;
      overflow: hidden;
   }
   .work img{
      width: 100%;
      height: 90%;
      border: 5px solid #2d368b;
      border-radius: 10%;
      display:inline-block;
      transition: transform 0.5s;
   }
   .layer{
      width:100%;
      height:0;
      background: linear-gradient(#1b2051,#088395);
      opacity: 0.8;
      border-radius: 10px;
      position: absolute;
      left: 0;
      bottom:0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;  
      font-size: 15px;
      transition: height 0.5s;
   }
  .layer h3{
      font-weight: 700;
      margin-bottom: 20px;
  }
  .layer a{
      margin-top: 20px;
      color: #299892;
      text-decoration: none;
      font-size: 18px;
      line-height: 60px;
      background: #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      text-align: center;
  }
  .work:hover img{
      transform: scale(1.1);
  }
  .work:hover .layer{
      height: 100%;
  }
  .btn{
      display: block;
      margin: 50px auto;
      width: fit-content;
      border: 5px solid #33a29e;
      padding: 14px 50px;
      border-radius:  10px;
      text-decoration: none;
      color: #562b1a;  
      font-weight: bold;
  }
  .btn:hover{
      background: #33a29e; 
      color: #562b1a;
  }
  /interests/
  #portfolio{
    padding: 20px 0;
}
.interest-list{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
margin-top:50px;
}

.interest{
   position: relative;
   overflow: hidden;
   background-image: url(images/new\ box.png);
      background-size: 80%;
      border-radius: 20px;
      background-position: 100%;
      background-repeat: repeat;
      

}
.interest img{
   width: 100%;
   height: 90%;
   display:inline-block;
}
  /*-----contact------*/

  .contact-left{
      flex-basis: 35%;
      color:#000000;
      background-image: url(images/two\ circles2.png);
    background-size: 50%;
    border-radius: 50px 50px 50px 50px;
    background-position: 80%;
    background-repeat: no-repeat; 
  }

  .contact-right{
      flex-basis: 40%;
      background-image: url(images/two\ circles2.png);
    background-size: 100%;
    border-radius: 50px 50px 50px 50px;
    background-position: 100%;
    background-repeat: no-repeat; 
  }
  .contact-left p{
      margin-top: 30px;
  }
  .contact-left p i{
      color: #562b1a;
      margin-right: 15px;
      font-size: 25px;
  }
  .social-icons{
    margin-top: 30px;
  }
  .social-icons a{
      text-decoration: none;
      font-size: 30px;
      margin-top: 20px;
      margin-right: 15px;
      color: #33a29e;
      display: inline-block;
      transition: transform 0.5s;
  }
  .social-icons a:hover{
      color: #562b1a;
      transform: translateY(-5px);
  }
  .btn.btn2{
      display: inline-block;
      background: #33a29e;
      color:white;
  }
  .contact-right form{
      width: 100%;
  }
  form input, form textarea{
      width: 100%;
      border: 0;
      outline: none;
      background: #b0d8a8;
      padding: 15px;
      margin: 15px 0;
      color: #fff;
      font-size: 18px;
      border-radius: 6px;
  
  }
  form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top:20px;
    cursor: pointer;
  }
 .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #562b1a;
    font-weight: 300;
    margin-top: 20px;
 }
 .copyright i{
    color: #33a29e;
 }
 /*-------css for small screens----*/
 nav .fas{
    display: none;
 }
  @media only screen and (max-width: 600px){
    #header{
        background-image: url(images/ill\ final\ phone\ 2.png);
        background-size: 100%;
    }
    .header-text{
        margin-top: 140%;
        font-size: 16px;
    }
    .header-text img{
        left: 100px;
        top: 10px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
     }
     nav ul{
        background:#83bfa3;
        position: fixed;
        top: 0;
        right: -200px;
        width: 600px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
     }
     nav ul li{
        display: block;
        margin: 25px;
     }
     nav ul .fas{
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
     }
     .sub-title{
        font-size: 20px; 
        background-color:#1b2051;
        padding: 10px;
        width: 200px;
     }
     .about-col-2{
        flex-basis: 70%;
        padding-left: 80px;
        margin-right: 20px;
     }
    
    .intro{
            font-size: 12px;
            padding-left: 10px;
            white-space: normal; 
            content: none;
    }

        .tab-links{
            display: flex;
            margin-right: 10px;
            margin-bottom: 2px;
            font-size: 15px;
            font-weight: bold;
            color:#1b2051;
    
        }
        .tab-contents ul li span{
            font-size: 15px;
            margin-top: 0cap;
        }

        .tab-contents{
            font-size: 12px;
        }
        .contact-left, .contact-right{
         flex-basis: 100%;
        }
        .copyright{
            font-size: 14px;
        }
        .services-list div h2{
            font-size: 15px;
            font-weight: bold;
        }
        .services-list div a{
            font-size: 10px;;
        }

    }
   